@model demandas_sociais.Models.Demandas

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar nova demanda</h1>

<h4>Demandas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Demanda" class="control-label"></label>
                <input asp-for="Demanda" class="form-control" />
                <span asp-validation-for="Demanda" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Prioridade" class="control-label"></label>
                <select asp-for="Prioridade" class="form-control">
                    <option value="">Selecione uma prioridade</option>
                    <option value="1">Baixa</option>
                    <option value="2">Média</option>
                    <option value="3">Alta</option>
                </select>
                <span asp-validation-for="Prioridade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary" style="background-color: white; border-color: purple; color: purple">Voltar</a>
                <input type="submit" value="Adicionar" class="btn btn-primary" style="background-color: purple; border-color: purple;" />
               
            </div>

        </form>
    </div>
</div>

